@theme //Нужно для передачи токенов в tailwind cli 
{ 
    --color-brand-50: #eef7ff;
    --color-brand-100: #d8edff;
    --color-brand-200: #b9dfff;
    --color-brand-300: #89cbff;
    --color-brand-400: #52adff;
    --color-brand-500: #2a8bff;
    --color-brand-600: #1469f5;
    --color-brand-700: #0d53e1;
    --color-brand-800: #1143b6;
    --color-brand-900: #143b8f;
  
    --color-accent-50: #edfcf5;
    --color-accent-100: #d3f8e6;
    --color-accent-200: #aaf0d1;
    --color-accent-300: #73e2b7;
    --color-accent-400: #3acd99;
    --color-accent-500: #17b381;
    --color-accent-600: #0b9069;
    --color-accent-700: #097356;
    --color-accent-800: #0a5b45;
    --color-accent-900: #094b3a;
}
* { scroll-behavior: smooth; }
body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}
input.peer:checked ~ div svg {
            transform: rotate(180deg);
}


#mobile-menu { max-height: 0; overflow: hidden; transition: max-height 0.3s ease; }
#mobile-menu.open { max-height: 400px; }

.line-clamp-2 {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@import "tailwindcss";


